body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  margin: 0;
}

/* header{
  width: 100%;
  height: 7%;
} */

#main-content {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../imgs/bg-st.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  z-index: 1;
}

.border {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(230deg, #f17e13, #337ec1, #6aaf32) border-box;
  width: 70%;
  height: 90%;
  position: relative;
  border-radius: 1.8rem;
  border: 0.6rem solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
  z-index: 2;
}
.container {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("../imgs/doctors-svg-cropped.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  z-index: 2;
}

.form-box {
  position: relative;
  z-index: 3;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}

section.title {
  width: 100%;
  height: 10%;
  text-align: center;
  letter-spacing: 0.15rem;
  word-spacing: 1rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.search {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.search label {
  cursor: pointer;
  margin-bottom: 10px;
}

.search #searchInp {
  outline: none;
  border: none;
  border: 2px solid #ec801a;
  width: 20rem;
  height: 2rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  padding: 0 0.5rem;
  transition: all 0.3s;
  margin: 5px 0;
}

.search #searchInp:focus {
  border: 2px solid #317bbd;
}

.search #searchBtn {
  height: 2rem;
  font-size: 1rem;
  border-radius: 12px;
  background-color: #ec801a;
  border: none;
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s;
}

.search #searchInp:focus ~ #searchBtn {
  background-color: #317bbd;
}

.search #searchBtn:hover {
  background-color: #317bbd;
}
.search #searchBtn:active {
  background-color: #6aaf32;
}

#print {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

#print .error {
  font-size: 1.2rem;
  color: red;
  font-weight: bold;
  justify-self: center;
}

#print .cargo {
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  margin-bottom: 1rem;
}

#print p span {
  font-weight: bold;
  text-decoration: underline;
}

#print p {
  margin-bottom: 25px;
}

@media (min-width: 850px) {
  .border {
    width: 50%;
  }
}
